#postagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}

#site-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 2em 2em 2em;
}

#search-form {
    display: flex;
}

#site-topo input {
    width: 20vw;
    margin-right: 1em;
    border-radius: 10px;
    padding: 0.7em 1em;
    background-color: var(--white-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

main h5 {
    margin-top: 2vh;
    color: var(--orange-color);
    text-align: center;
}

.card {
    width: 288px;
    margin: 20px;
    border: 1px solid #e8e7e7;
    margin: 5vh auto 0 auto;
    transition: ease all 0.5s;
    cursor: pointer;
}

.card:hover {
    background-color: var(--white-color);
    transform: translateY(-10px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 192px;
    object-fit: cover;
    border-radius: 10px;
}

.card .card-body {
    padding: 1.2em 0.6em;
}

.card .card-title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .autor {
    font-size: 16px;
    font-weight: normal;
    color: #454545;
    text-align: left;
}

/* === Media Queries === */
@media screen and (max-width: 1203px) {
    main #postagens {
        grid-template-columns: repeat(3, 1fr);
    }

    #site-topo input {
        width: 25vw;
    }
}

@media screen and (max-width: 931px) {
    main #postagens {
        grid-template-columns: repeat(2, 1fr);
    }

    #site-topo input {
        width: 30vw;
    }
}

@media screen and (max-width: 767px) {
    #site-topo input {
        width: 40vw;
    }
}

@media screen and (max-width: 608px) {
    #site-topo {
        flex-direction: column;
    }

    #site-topo input {
        margin-right: 0;
        font-size: 14px;
        text-align: center;
    }

    .titulo-site h2 {
        font-size: 30px;
    }

    #search-form {
        width: 100vw;
        margin: 2vh 0 4vh 0;
        flex-direction: column;
        align-items: center;
    }

    #search-form button {
        width: 20vw;
        margin-top: 2vh;
        font-size: 14px;
    }

    main #postagens {
        grid-template-columns: 1fr;
    }

    main #postagens .card:first-child {
        margin: 0 auto;
    }
}

@media screen and (max-width: 547px) {
    #search-form input {
        width: 50vw;
    }

    #search-form button {
        width: 25vw;
    }
}

@media screen and (max-width: 451px) {
    #search-form input {
        width: 60vw;
    }

    #search-form button {
        width: 30vw;
    }
}

@media screen and (max-width: 378px) {
    #search-form input {
        width: 65vw;
    }

    #search-form button {
        width: 35vw;
    }
}
