main {
    margin: 8vh 0;
    display: flex;
    justify-content: center;
}

main #formulario {
    width: 40vw;
    border-radius: 10px;
    padding: 7vh 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--yellow-color);
}

main #formulario #titulo-formulario {
    font-size: 1.7em;
    margin-bottom: 4vh;
}

main #formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #formulario form #message {
    width: 100%;
}

main #formulario form input {
    width: 27vw;
    margin: 0.5em 0;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: var(--white-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

main #formulario form input::placeholder {
    opacity: 0.5;
}

main #formulario form .div-senha {
    position: relative;
}

main #formulario form .div-senha i {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
    color: var(--orange-color);
}

main #formulario form .div-senha input {
    padding-right: 4vw;
}

main #formulario form .button {
    width: 45%;
    margin-top: 4vh;
}

main #formulario form #esqueceu-senha {
    width: 100%;
    text-align: start;
    font-size: 0.8em;
    color: #b46c00;
}

main #formulario form #esqueceu-senha:hover {
    text-decoration: underline;
}

main #texto-infos {
    font-size: 0.9em;
    margin-top: 6vh;
    text-align: center;
}

main #texto-infos a {
    color: #b46c00;
}

main #texto-infos a:hover {
    text-decoration: underline;
}

/* === Media Queries === */
@media screen and (max-width: 1098px) {
    main #formulario {
        width: 60vw;
    }

    main #formulario form input {
        width: 40vw;
    }

    main #formulario form .div-senha input {
        padding-right: 5vw;
    }
}

@media screen and (max-width: 823px) {
    main #formulario #titulo-formulario {
        font-size: 1.5em;
    }

    main #formulario form .button {
        font-size: 14px;
    }

    main #texto-infos {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 765px) {
    main #formulario form .div-senha input {
        padding-right: 7vw;
    }
}

@media screen and (max-width: 676px) {
    main #formulario {
        width: 75vw;
    }

    main #formulario #titulo-formulario {
        font-size: 1.4em;
    }

    main #formulario form input {
        width: 60vw;
    }

    main #formulario form .div-senha input {
        padding-right: 8.5vw;
    }
}

@media screen and (max-width: 452px) {
    main #formulario {
        width: 85vw;
    }

    main #formulario form input {
        font-size: 14px;
        width: 65vw;
    }

    main #formulario form .button {
        width: 55%;
    }

    main #formulario form .div-senha input {
        padding-right: 12vw;
    }
}

@media screen and (max-width: 384px) {
    main #formulario form input {
        font-size: 13px;
    }

    main #formulario form .button {
        font-size: 13px;
    }

    main #formulario form .div-senha input {
        padding-right: 14vw;
    }
}
