main {
    padding: 4vw;
}

/* === Seção sobre nós === */
main #sobre-nos {
    height: 70vh;
    display: flex;
    align-items: center;
}

main #sobre-nos div {
    width: 100vw;
}

main #sobre-nos #conteudo {
    width: 100%;
}

main #sobre-nos #conteudo #texto {
    font-size: 18px;
    color: #828282;
}

main #sobre-nos #imagem-sobre {
    text-align: end;
}

main #sobre-nos #imagem-sobre img {
    width: 80%;
}

/* === Seção da equipe === */
main #equipe {
    margin-top: 6vh;
}

main #equipe #integrantes-equipe {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main #equipe #integrantes-equipe .integrante {
    width: 170px;
}

main #equipe #integrantes-equipe .integrante img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

main #equipe #integrantes-equipe .integrante .informacoes-integrante {
    margin-top: 2vh;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 0.5em 0.7em;
    background-color: var(--white-color);
}

main #equipe #integrantes-equipe .integrante .informacoes-integrante .nome {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

main
    #equipe
    #integrantes-equipe
    .integrante
    .informacoes-integrante
    .nome:hover {
    text-decoration: underline;
    cursor: pointer;
}

main #equipe #integrantes-equipe .integrante .informacoes-integrante .cargo {
    font-size: 14px;
}

footer {
    margin-top: 7vh;
}

/* === Media Queries === */
@media screen and (max-width: 1290px) {
    main #equipe #integrantes-equipe .integrante {
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 779px) {
    main #sobre-nos {
        height: auto;
        margin-top: 4vh;
        margin-bottom: 10vh;
        text-align: center;
        flex-direction: column;
    }

    main #sobre-nos #conteudo #texto {
        font-size: 16px;
    }

    main #sobre-nos #conteudo #texto {
        margin: 0 4vw;
    }

    main #sobre-nos #imagem-sobre {
        text-align: center;
    }

    main #sobre-nos #imagem-sobre img {
        width: 60%;
        margin-top: 5vh;
    }

    main .titulo {
        text-align: center;
    }

    main #equipe .titulo {
        margin-bottom: 2vh;
    }

    main #equipe #integrantes-equipe .integrante {
        width: 150px;
    }

    main #equipe #integrantes-equipe .integrante img {
        height: 150px;
    }
}

@media screen and (max-width: 529px) {
    main #equipe #integrantes-equipe .integrante {
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 504px) {
    main #sobre-nos {
        margin-top: 6vh;
    }

    main #sobre-nos #conteudo #texto {
        font-size: 14px;
    }

    main #sobre-nos #imagem-sobre img {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    main #equipe #integrantes-equipe .integrante {
        width: 120px;
    }

    main #equipe #integrantes-equipe .integrante img {
        height: 120px;
    }
}
